.kk-color {
	color: #0a7ac2;
}

.column {
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.button, button, .k-button {
	margin-top: 7px;
	margin-bottom: 7px;
}

.info {
	font-size: x-large;
	text-align: center;
}

.logomini {
	margin-top: 10px;
	margin-right: 27px;
}

.loginForm {
	background-color:#90b5cd;
	padding-top: 30px;
	padding-bottom: 30px;
	filter: alpha(opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity:0.8;
	-moz-opacity: 0.80; 
}

.loginTitle {
	padding-bottom: 20px;
}

hr {
	display: block; height: 1px;
    border: 0; border-top: 1px solid #ddd;
    margin: 1em 0; padding: 0; 
}

div.columns div { 
	float: left; 
}

div.clear { 
	clear: both; 
}

.kk-title {
	font-weight: normal;
	font-size: 1.5em;
	margin-left: 25px;
}

.kk-admin-content {
	height: 83%; 
	border: 0; 
	width: 98.2%;
	margin: 15px;
}

.form h3 {
	font-weight: normal;
	font-size: 1.4em;
}

.form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.form li {
	margin: 10px 0 0 0;
}

.k-textbox {
	width: 11.8em;
}

label {
	display: inline-block;
	width: 90px;
	text-align: right;
}

.required {
	font-weight: bold;
}

.accept, .status {
	padding-left: 90px;
}

.valid {
	color: green;
}

.invalid {
	color: red;
}
span.k-tooltip {
	margin-left: 6px;
}

.userView {
	background-color:#FFF;
	filter: alpha(opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity:0.8;
	-moz-opacity: 0.80; 
}