/* Kendo skin */
.k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
/* main colors */
.k-block,
.k-widget {
  background-color: #ffffff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header-wrap,
.k-grid-header,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-upload-files,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-progress {
  border-color: #dbdbde;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-grouping-row td,
td.k-group-cell,
.k-calendar th,
.k-dropzone-hovered,
.k-upload-files {
  background-color: #eaeaec;
}
.k-list-container {
  border-color: #dbdbde;
  background-color: #f3f3f4;
}
.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #ffffff;
}
.k-alt,
.k-separator {
  background-color: #f4f4f4;
}
.k-widget .k-dropdown-wrap,
.k-widget .k-picker-wrap,
.k-widget .k-numeric-wrap,
.k-textbox,
.k-autocomplete.k-header,
.k-autocomplete.k-state-focused,
span.k-dropdown-wrap.k-state-active,
span.k-picker-wrap.k-state-active,
.k-picker-wrap.k-state-focused,
.k-picker-wrap.k-state-focused:hover,
span.k-numeric-wrap.k-state-active,
.k-numeric-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused:hover {
  border-color: #dbdbde;
  background-color: #f3f3f4;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #dbdbde;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background-color: #ffffff;
  color: #515967;
}
.k-input[readonly] {
  background-color: #ffffff;
  color: #515967;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-dropdown .k-input {
  color: #515967;
}
.k-link:link,
.k-link:visited {
  color: #515967;
}
.k-header {
  color: #515967;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-button,
.k-draghandle,
.k-tile,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item {
  background-image: none;
}
.k-tabstrip-items .k-state-active {
  background: #ffffff;
}
.k-tooltip {
  background-image: none;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-tooltip,
.k-pager-wrap,
.k-button,
.k-draghandle {
  background-color: #f3f3f4;
}
/* icons */
.k-icon,
.k-column-menu .k-sprite {
  opacity: 0.8;
}
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite {
  opacity: 1;
}
.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-callout,
.k-column-menu .k-sprite {
  background-image: url('sprite.png');
  border-color: transparent;
}
.k-loading,
.k-state-hover .k-loading {
  background-image: url('loading.gif');
  background-position: 50% 50%;
}
.k-loading-image {
  background-image: url('loading-image.gif');
}
.k-loading-color {
  background-color: #ffffff;
}
.k-button {
  color: #515967;
}
.k-button,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:active,
.k-state-disabled .k-button:active {
  border-color: #dbdbde;
  background-color: #f3f3f4;
}
.k-button:hover {
  color: #263248;
  border-color: #a6afbe;
  background-color: #a6afbe;
}
.k-draghandle {
  border-color: #dbdbde;
  background-color: #eaeaec;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-draghandle:hover {
  border-color: #a6afbe;
  background-color: #a6afbe;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter {
  background-color: #ffffff;
  border-color: #a6afbe;
  color: #515967;
}
.k-state-highlight {
  background-color: #ffffff;
  color: #515967;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  background-color: #a6afbe;
  border-color: #a6afbe;
}
.k-state-selected,
.k-state-selected:link,
.k-list > .k-state-selected,
.k-list > .k-state-focused,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-button:active,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover {
  color: #ffffff;
  background-color: #0a7ac2;
  border-color: #0a7ac2;
}
.k-state-selected.k-state-focused,
.k-state-selected.k-state-highlight {
  background-color: #08629b;
  border-color: #08629b;
}
.k-state-selected > .k-link {
  color: #ffffff;
}
.k-state-selected,
.k-button:active {
  background-image: none;
}
.k-state-hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-marquee,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-imagebrowser-dropzone {
  color: #263248;
  background-color: #a6afbe;
  border-color: #a6afbe;
}
.k-button:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover,
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-imagebrowser-dropzone em {
  background-image: none;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-button:active {
  background-image: none;
}
.k-tool-icon,
.k-tool-icon.k-state-hover,
.k-tool-icon.k-state-active,
.k-tool-icon.k-state-active.k-state-hover {
  background-image: url('sprite.png');
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-imagebrowser-dropzone em {
  color: #263248;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #a6afbe;
  border-color: #a6afbe;
}
.k-calendar .k-state-selected.k-state-focused > .k-link {
  background-color: transparent;
}
.k-dropdown .k-state-hover .k-input {
  color: #263248;
}
.k-dropdown .k-state-focused .k-input {
  color: #515967;
}
.k-state-error {
  border-color: #ff0000;
  background-color: #ffffff;
  color: #ff0000;
}
.k-state-disabled {
  filter: alpha(opacity=70);
  opacity: .7;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-button.k-state-disabled:active,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #b3bac7;
}
/* Slider */
.k-slider-track {
  background-color: #dbdbde;
}
.k-slider-selection {
  background-color: #0a7ac2;
}
.k-slider-horizontal .k-tick {
  background-image: url('slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('slider-v.gif');
}
/* Tooltip */
.k-tooltip {
  border-color: #0a7ac2;
  background-color: #0a7ac2;
  color: #ffffff;
}
.k-tooltip-validation {
  border-color: #ffe79e;
  background-color: #fff4c9;
  color: #263248;
}
/* Splitter */
.k-splitbar {
  background-color: #f3f3f4;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #ff0000;
}
/* Upload */
.k-progress-status {
  border-color: #a6afbe transparent;
}
/* ImageBrowser */
.k-tile {
  border-color: #eaeaec;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #a6afbe;
}
.k-tiles li.k-state-selected {
  border-color: #0a7ac2;
}
.k-tile .k-folder,
.k-tile .k-file {
  background-image: url('imagebrowser.png');
}
/* Shadows */
.k-widget,
.k-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-slider,
.k-treeview,
.k-upload {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-hover,
.k-state-focused {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-selected {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-grid-header .k-header.k-state-focused,
.k-grid td.k-state-focused {
  background-color: #e1e4e9;
  -webkit-box-shadow: inset 0 0 6px #a6afbe;
  box-shadow: inset 0 0 6px #a6afbe;
}
.k-grid td.k-state-selected.k-state-focused {
  -webkit-box-shadow: inset 0 0 6px #031e30;
  box-shadow: inset 0 0 6px #031e30;
  background-color: #0b83d1;
}
.k-popup,
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-imagebrowser .k-image {
  -webkit-box-shadow: 0 2px 2px 0 rgba(166, 175, 190, 0.8);
  box-shadow: 0 2px 2px 0 rgba(166, 175, 190, 0.8);
}
.k-window {
  border-color: rgba(166, 175, 190, 0.8);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 7px 1px rgba(255, 255, 255, 0.8);
  background-color: #ffffff;
}
.k-window.k-state-focused {
  border-color: rgba(166, 175, 190, 0.8);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(166, 175, 190, 0.8);
  box-shadow: 1px 1px 7px 1px rgba(166, 175, 190, 0.8);
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-combobox .k-input,
.k-picker-wrap .k-input {
  -webkit-box-shadow: inset 0 0 1px 1px rgba(166, 175, 190, 0.8);
  box-shadow: inset 0 0 1px 1px rgba(166, 175, 190, 0.8);
}
.k-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(166, 175, 190, 0.8);
  box-shadow: 0 1px 2px 0 rgba(166, 175, 190, 0.8);
}
.k-inset {
  -webkit-box-shadow: inset 0 1px 1px rgba(166, 175, 190, 0.8);
  box-shadow: inset 0 1px 1px rgba(166, 175, 190, 0.8);
}
/* Border radius */
.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-button .k-state-hover,
.k-editor-button .k-state-active,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-animation-container .k-calendar-container,
.k-list-container.k-state-border-right {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-numeric-wrap .k-link,
.k-colorpicker .k-selected-color,
.k-progress,
.k-progress-status {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-dropzone,
.k-upload-files {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.k-draghandle {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
